[Unit]
After       = network.target
Requires    = network.target
After       = dnsmasq.service
Requires    = dnsmasq.service

[Service]
ExecStart=/usr/local/bin/node /root/code/node-ibus-interface/run.js
WorkingDirectory=/root/code/node-ibus-interface
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-ibus-interface
User=root
Group=root
Environment=NODEPATH=/usr/lib/nodejs:/usr/lib/node_modules:/usr/local/lib/node_modules
Environment=NODE_PATH=/usr/lib/nodejs:/usr/lib/node_modules:/usr/local/lib/node_modules

[Install]
WantedBy=multi-user.target
