/* Misc page/element tweaks */
html, body {
	font-family            : '.sf-regular',sans-serif;
	-webkit-font-smoothing : subpixel-antialiased;
}

.navbar-nav>li>a {
	font-family : '.sf-thin',sans-serif;
}

h1.title {
  font-family : '.sf-ultralight',sans-serif;
  font-size   : 72px;
}

.row {
	margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6, hr, p, .lead {
	margin: 6px 0px 6px 0px;
}

.h4, h4 {
	font-size : 24px;
}

.h6, h6 {
	font-size : 15px;
}

hr {
	border-top : 1px solid #37a2c7;
}

.btn-primary {
	color            : #fff;
	background-color : #37a2c7;
	border-color     : #5d9ab8;
}


/* Custom navbar graphic */

.navbar-brand {
	padding-left   : 15px;
	padding-right  : 10px;
	padding-top    : 5px;
	padding-bottom : 5px;
}

.navbar-brand-img {
	width  : 40px;
	height : 40px;
}


/* Live WebSocket data table */

.table-live {
	height   : 300px !important;
	overflow : auto;
}


/* IKE backlight slider */

.slider {
	min-width : 100%;
}

.slider-handle {
	background-image: linear-gradient(to bottom,#37a2c7 0,#5d9ab8 100%);
}

.slider-track-low, .slider-track-high {
	background: #7f8487;
}

.tooltip {
	font-size : 18px;
}

.tooltip-inner {
	background-color : rgba(42, 159, 214, 0.75);
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color : rgba(42, 159, 214, 0.75);
}
