/* Misc page/element tweaks */

.row {
	margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6, hr, p, .lead {
	margin: 6px 0px 6px 0px;
}


/* Custom navbar graphic */

.navbar-brand {
	padding-left   : 15px;
	padding-right  : 10px;
	padding-top    : 5px;
	padding-bottom : 5px;
}

.navbar-brand-img {
	width  : 40px;
	height : 40px;
}


/* Live WebSocket data table */

.table-live {  
	height   : 300px !important;
	overflow : auto;
}


/* IKE backlight slider */

.slider.slider-horizontal .slider-track {
	height : 20px;
}

.slider {
	min-width : 95%;
}

.slider-handle {
	width  : 30px;
	height : 30px;
}

.slider.slider-horizontal .tooltip.top .tooltip-inner {
	font-size : 18px;
}

.tooltip-inner {
	background-color : rgba(42, 159, 214, 0.75);
}

.tooltip.top {
	margin-top     : -13px;
	padding-bottom : 5px;
	padding-top    : 0px;
	padding-left   : 24px;
	padding-right  : 24px;
}

.tooltip.top .tooltip-arrow {
	border-top-color : rgba(42, 159, 214, 0.75);
}
